In [1]:
#ques1
#VALUES :"hello",-87.8,6
#EXPRESSION :* , - ,/,+

In [2]:
"""
QUES 2
VARAIBLES 
1) varaibles are the names given to the storage unit in python 
2) Depending on the type of data or info being stored in the variable 
   we can define data types of that variable.
3) Name of the variable can't have spaces and special symbols.
4) we can store a string into the variable 

STRING
1) string are the sequence of characters that are enclosed in inverted commas 
   and are used to store information 
2) String is a data type
3) No such restriction of spaces and special symbols is there in the string.
4) String can get stores in a variable and occupy a specific place.

EXAMPLE
"""
x=10 #here x is a variable that has stored value =10 and data type of x is int
"let us right a string" #this is a string
b="this is a string" #here b is variable that has stores a string inside it

In [4]:
"""
DATA TYPES: Based upon the kind of information a variable stores and the operation that can be performed on it , we can divide
variables into different data types

In python we have following data types:
1) Numeric :This data type stores numeric value and it can further be divided into :
               i)int : when the integer value is stores in the variable, data type is int
               ii) float: when the value stored is not an integer but floating number i.e value is in decimals
               iii)complex : when complex number is being stored in the variable
2) Sequence: Sequence data type basically includes :
                i) string: it is the sequence of char that is used to store information
                ii) list: it is mutable data type that can store any number of values of any data type
                iii) tuples: thsi are immutable data type that can store any number of values of any data type
3)dictionary: dictionaries are the key value pair data type in which we have keys and we assign certain values to 
              these keys, the way we have words and meanings in the dictionary
4)sets:sets are similar to the sets that we have in mathematics and they can store non repititive values inside them 

EXAMPLE
"""
x_int=10 #int data type
x_float=12.96 #float data type
x_complex=3+2j #complex data type
x_string="hello world!this is a string data type" #string data type
x_list=["15",20,"hello",1] #list data type (mutable)
x_tuples=(10,1,"hello") #tuples data type(Immutable)
x_dict={"name":"poornima","college":"nitt","course":"full stack data science"}
x_set={1,2,"hello"}

In [5]:
s={1,2,"hello"}
type(s) #Note that we can use type function to knowe the data type of a variable

set

In [6]:
"""QUES 4
An expression is a combination of operators and operands that is interpreted to produce some other value.Python expressions
only contain identifiers, literals, and operators. Expressions in python can be used to perform arithematics, comparision ,
operations and assignment. The various operators includes:
+,-,/,*,AND,OR,NOT,==,>,<,=,%,// and many more
"""

'QUES 4\nAn expression is a combination of operators and operands that is interpreted to produce some other value.Python expressions\nonly contain identifiers, literals, and operators. Expressions in python can be used to perform arithematics, comparision ,\noperations and assignment. The various operators includes:\n+,-,/,*,AND,OR,NOT,==,>,<,=,%,// and many more\n'

In [7]:
"""QUES 5
STATEMENTS
1) Statements are the instructions that python executes i.e it does whatever the statement says.
2) A statement executes something
3)Execution of a statement may or may not produces or displays a result value, it only does whatever the statement says.

EXPRESSION
1) An expression is a combination of operators and operands that is interpreted to produce some other value.
2) An expression evaluates to a value 
3) Evaluation of an expression always Produces or returns a result value.

EXAMPLE
"""
spam=10 #this is an assignment expression that use assgnment operator to assign value to 10
print(spam) #print is a statement i.e a command that ask the python to print spam

10

In [8]:
#QUES 6
#the value will be equal to 23. let's check this by executing the code 
bacon=22
bacon+1

23

In [10]:
""" QUES7
"spam"+"spamspam" after concatination will give spamspamspam
"spam"*3 will also give spamspamspam
let us verify by executing the code
"""
print("spam"+"spamspam")
print("spam"*3)

spamspamspam
spamspamspam

In [11]:
""" QUES8
A vairable name can be an alphabetical word but can nevr be a numeric value hence eggs is a valid 
variable name and 100 is invalid"""

' QUES8\nA vairable name can be an alphabetical word but can nevr be a numeric value hence eggs is a valid \nvariable name and 100 is invalid'

In [21]:
""" QUES9
int , float and str are th functions that can be used to get integer floating point number and 
string version of a value

EXAMPLE
"""
a="54"
b=24.5
print(str(b)+"hello") #concatination of only two string is possible and hence str(b) is a string
print((int(a)))
print(float(a))

24.5hello
54
54.0

In [22]:
#QUES 10
#concatination of only string is possible . we can not add int value to  a string. this error can be removed using typecasting
"i have eaten"+str(99)+"burritos"

'i have eaten99burritos'